<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div id="login-box">
        <h1>LOGIN</h1>
        <form action="http://127.0.0.1:5000/login" method="post">
        <div class="form">
            <div class="item">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password"name="password">
            </div>
        </div>
        <button type="submit" value="Login">Login</button>
        <a href="register"><p class ="cc">Register</p></a>
        </form>
    </div>
</body>
</html>